/* ---------------------------------------------
   Root Variables
--------------------------------------------- */
:root {
  --primary-color: #F2D272;
  --secondary-color: #BF9460;
}

/* ---------------------------------------------
   Global Styles
--------------------------------------------- */
a { text-decoration: none !important; }

.text-color { color: #ee626b !important; }

h1,h2,h3,h4,h5,h6 {
  color: #1e1e1e;
  margin: 0;
  font-weight: 700;
}

ul { margin-bottom: 0; }

p {
  font-size: 14px;
  line-height: 28px;
  color: #4a4a4a;
}

html, body { max-width: 100vw; overflow-x: hidden; }

* { box-sizing: border-box; }

::selection, ::-moz-selection {
  background: #0071f8;
  color: #fff;
}

/* ---------------------------------------------
   Sections
--------------------------------------------- */
.section { margin-top: 120px; }

.section-heading { margin-bottom: 70px; }

.section-heading h2 {
  font-size: 40px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 56px;
}

.section-heading h2 em { color: #0071f8; font-style: normal; }

.section-heading h6 {
  color: #ee626b;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
}

/* ---------------------------------------------
   Buttons
--------------------------------------------- */
.icon-button a {
  display: inline-block;
  background-color: #1e1e1e;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  height: 50px;
  line-height: 50px;
  padding: 0 0 0 0;
  border-radius: 25px;
  transition: all 0.3s;
}

.icon-button a i {
  background-color: #f35525;
  height: 50px;
  width: 50px;
  text-align: center;
  border-radius: 50%;
  line-height: 50px;
  display: inline-block;
  margin-right: 15px;
  margin-left: -1px;
}

.icon-button a:hover { color: #f35525; }

.icon-button a:hover i { color: #fff; }

.main-button a {
  display: inline-block;
  background-color: #1e1e1e;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 40px;
  padding: 0 30px;
  border-radius: 25px;
  transition: all 0.3s;
}

.main-button a:hover {
  background-color: #f35525;
  color: #fff;
}

/* ---------------------------------------------
   Banner
--------------------------------------------- */
.main-banner { width: 100%; height: 100vh; overflow: hidden; }

.banner-slide {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.banner-1 { background-image: url("/images/banner-01.jpg"); }
.banner-2 { background-image: url("/images/banner-02.jpg"); }
.banner-3 { background-image: url("/images/banner-03.jpg"); }

.banner-caption {
  padding-top: 500px;
  text-align: left;
}

.banner-caption .category { font-size: 20px; color: #fff; }

.banner-caption h2 {
  font-size: 50px;
  color: #fff;
  font-weight: 700;
}

@media (max-width: 768px) { .banner-caption h2 { font-size: 30px; } }

/* ---------------------------------------------
   Featured
--------------------------------------------- */
.featured .left-image { position: relative; }

.featured .left-image img { padding-left: 30px; }

.featured .left-image a {
  display: inline-block;
  width: 110px;
  height: 110px;
  line-height: 110px;
  background-color: #f35525;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: -55px;
}

.featured .section-heading { margin: 0 10px 60px; }

.featured .section-heading h2 { width: 70%; }

.featured .accordion {
  margin: 0 10px;
  --bs-accordion-border-radius: 10px;
  --bs-accordion-inner-border-radius: 10px;
  --bs-accordion-bg: #fafafa;
  --bs-accordion-border-color: transparent;
  border: none !important;
}

.featured .accordion-header { border-bottom: 1px solid #eaeaea; }

.featured .accordion-button {
  box-shadow: none;
  font-size: 17px;
  font-weight: 500;
  color: #1e1e1e;
}

.featured .accordion-button:not(.collapsed) {
  color: #f35525;
  background-color: #fafafa;
  outline: none;
}

.featured .accordion-button::after { display: none; }

.featured #headingThree { border-bottom: none; }

.featured .accordion-item:last-of-type .accordion-collapse {
  border-top: 1px solid #eaeaea;
}

.featured .info-table {
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.15);
  padding: 15px 10px;
}

.featured .info-table ul li {
  display: block;
  margin-bottom: 35px;
  padding-bottom: 35px;
  border-bottom: 1px solid #eee;
}

.featured .info-table ul li:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.featured .info-table ul li img { float: left; margin-right: 25px; }

.featured .info-table ul li h4 { font-size: 22px; font-weight: 600; }

.featured .info-table ul li h4 span {
  font-size: 15px;
  color: #aaa;
  font-weight: 400;
}

/* ---------------------------------------------
   Video Section
--------------------------------------------- */
.video {
  background-image: url(/images/video-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 100px 0 250px 0;
  position: relative;
}

.video-content { margin-top: -240px; }

.video .section-heading h2 { color: #fff; }

.video-content .video-frame {
  position: relative;
  box-shadow: 0 0 15px rgba(0,0,0,0.15);
  border-radius: 10px;
}

.video-content .video-frame img { border-radius: 10px; }

.video-content .video-frame a {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-26px,-26px);
  width: 52px;
  height: 52px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 52px;
  color: #f35525;
  outline: 15px solid rgba(254,85,37,0.5);
  font-size: 18px;
}

/* ---------------------------------------------
   Fun Facts
--------------------------------------------- */
.fun-facts { text-align: center; margin-top: 125px; }

.fun-facts .counter {
  background-color: #ffeee9;
  position: relative;
  border-radius: 10px;
  width: 270px;
  padding: 20px 0;
  display: inline-block;
}

.fun-facts .counter h2,
.fun-facts .counter p { display: inline-flex; vertical-align: middle; }

.fun-facts .counter p {
  text-align: left;
  font-size: 16px;
  color: #1e1e1e;
  font-weight: 600;
  line-height: 28px;
}

.fun-facts .counter h2 {
  margin-right: 25px;
  font-size: 40px;
  color: #f35525;
}

.fun-facts .counter:after {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #f35525;
  border-radius: 50%;
  content: '';
  right: -25px;
  top: -25px;
}

/* ---------------------------------------------
   Best Deal
--------------------------------------------- */
.best-deal {
  background-color: #fafafa;
  padding: 100px 0;
}

.best-deal .tabs-content .nav-link {
  font-size: 16px;
  font-weight: 500;
  background-color: #1e1e1e !important;
  border-radius: 5px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  padding: 0 25px;
  color: #fff;
}

.best-deal .tabs-content .nav-tabs .nav-link.active {
  background-color: #f35525 !important;
  color: #fff;
}

.best-deal .tabs-content ul.nav-tabs { border-bottom: none !important; margin-bottom: 80px; align-items: end; justify-content: end; margin-top: -130px; }

.best-deal .tabs-content ul.nav-tabs li { margin-left: 20px; padding-right: 0; border-right: none; }

.best-deal .info-table {
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.15);
  padding: 35px 30px;
}

.best-deal .info-table ul li {
  display: block;
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #eee;
  font-size: 15px;
  color: #aaa;
  font-weight: 400;
}

.best-deal .info-table ul li:last-child { border-bottom: none; padding-bottom: 0; margin-bottom: 0; }

.best-deal .info-table ul li span {
  font-size: 20px;
  color: #1e1e1e;
  font-weight: 700;
  float: right;
}

/* ---------------------------------------------
   Properties
--------------------------------------------- */
.properties .item {
  background-color: #fafafa;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 30px;
}

.properties .item img { border-radius: 10px; }

.properties .item span.category {
  background-color: #fbd9cf;
  font-weight: 500;
  border-radius: 5px;
  font-size: 14px;
  color: #1e1e1e;
  padding: 5px 12px;
  display: inline-block;
  margin-top: 25px;
}

.properties .item h4 { font-size: 19px; margin: 25px 0; }

.properties .item h4 a { color: #1e1e1e; }

.properties .item ul li {
  display: inline-block;
  font-size: 15px;
  color: #4a4a4a;
  margin-right: 20px;
}

.properties .item ul li span { font-weight: 600; color: #1e1e1e; }

.properties .item ul { border-bottom: 1px solid #eaeaea; margin-bottom: 30px; padding-bottom: 30px; }

.properties .item h6 {
  font-size: 20px;
  color: #f35525;
  margin-top: 30px;
  float: right;
}

.properties .item .main-button { text-align: center; }

/* ---------------------------------------------
   Contact
--------------------------------------------- */
.contact {
  background-image: url(/images/contact-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 100px 0 250px 0;
  position: relative;
}

.contact .section-heading h2 { color: #fff; }

.contact-content { margin-top: -240px; position: relative; z-index: 1; }

.contact-content #map { border-radius: 10px; margin-bottom: 60px; }

.contact-content .item {
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.15);
  padding: 35px 30px;
  background-color: #fff;
}

.contact-content .phone { margin-right: 15px; }

.contact-content .email { margin-left: 15px; }

.contact-content .item img { float: left; margin-right: 25px; vertical-align: middle; }

.contact-content .item h6 { font-size: 20px; font-weight: 600; vertical-align: middle; }

.contact-content .item h6 span { font-size: 15px; color: #aaa; font-weight: 400; }

.contact-content #contact-form {
  margin-left: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.15);
  padding: 35px 30px;
  background-color: #fff;
}

.contact-content #contact-form label { font-size: 15px; color: #3a3a3a; margin-bottom: 15px; }

.contact-content #contact-form input,
.contact-content #contact-form textarea {
  width: 100%;
  border-radius: 22px;
  background-color: #f6f6f6;
  border: none;
  margin-bottom: 30px;
  font-size: 14px;
  padding: 0 15px;
}

.contact-content #contact-form textarea { height: 150px; max-height: 180px; padding: 15px; }

.contact-content #contact-form button {
  background-color: #1e1e1e;
  height: 44px;
  border-radius: 22px;
  padding: 0 20px;
  color: #fff;
  border: none;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.5s;
}

.contact-content #contact-form button:hover { background-color: #f35525; }

/* ---------------------------------------------
   Footer
--------------------------------------------- */
footer.footer-no-gap { margin-top: 0; }

footer {
  margin-top: 150px;
  background-color: #1e1e1e;
  min-height: 100px;
}

footer p {
  text-align: center;
  line-height: 100px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

footer p a {
  color: #fff;
  transition: all 0.3s;
  position: relative;
  z-index: 3;
}

footer p a:hover { opacity: 0.75; }

/* ---------------------------------------------
   Responsive
--------------------------------------------- */
@media (max-width: 767px) {
  .banner-caption h2 { font-size: 30px; }
  .featured .section-heading { margin: 100px 0 60px; }
  .properties .item h6 { text-align: center; margin-bottom: 15px; float: none; }
  .properties .item .main-button { text-align: center; }
}

@media (max-width: 992px) {
  .header-area .main-nav .logo h1 { line-height: 100px; }
  .best-deal .tabs-content ul.nav-tabs { justify-content: center; margin-top: 0; }
}

@media (max-width: 1200px) {
  .best-deal .info-table ul li span { float: none; width: 100%; }
}
